body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 70px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

aside {
  width: 35%;
  height: 100%;
}

aside img {
  width: 100%;
  height: 100%;
}

main {
  width: 65%;
  height: 100%;
  padding-right: 130px;
}

main .logo {
  width: 160px;
  height: 40px;
  margin-bottom: 51px;
}

.text-title span:nth-child(1) {
  font-size: 22px;
  font-weight: 600;
  color: #8e6447;
  display: block;
  margin-bottom: 25px;
}

.text-title span:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
  color: #4f5665;
  display: block;
  margin-bottom: 25px;
}

main form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

form label {
  font-size: 16px;
  font-weight: 600;
  color: #0b132a;
}

form .form-control {
  display: flex;
  flex-direction: column;
  gap: 13px;
  width: 100%;
  position: relative;
}

.form-control input {
  padding: 14px 46px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #dedede;
  outline: none;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.75px;
  color: #4f5665;
}

.form-control input:focus {
  border: 1px solid #0b132a;
}

.icon img,
.icon2 img {
  width: 100%;
  height: 100%;
}
.icon {
  position: absolute;
  top: 2.8rem;
  left: 1rem;
}

.icon2 {
  position: absolute;
  top: 3rem;
  right: 20px;
}

form .forget-password {
  align-self: end;
  font-size: 16px;
  font-weight: 600;
  color: #0b132a;
  text-decoration: none;
}
form button {
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: #ff8906;
  border: 1px solid #ff8906;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  color: #0b132a;
  margin-bottom: 25px;
}

.account {
  width: 100%;
  text-align: center;
}

main .account span {
  font-size: 16px;
  font-weight: 400;
  color: #4f5665;
}

main .account span span {
  font-size: 16px;
  font-weight: 600;
  color: #0b132a;
}

.or {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
  display: flex;
  align-items: center;
}

.or hr {
  width: 30%;
  height: 1px;
  border: none;
  background-color: #dedede;
}

.button-account {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.facebook-account,
.google-account {
  width: 50%;
  padding: 20px 1rem;
  text-align: center;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.facebook-account span,
.google-account span {
  font-size: 18px;
  font-weight: 500;
  color: #4f5665;
}

.button-icon img {
  width: 24px;
  height: 24px;
  /* background-color: red; */
}

/* tablet max 1024 */
@media only screen and (max-width: 1024px) {
  aside {
    display: none;
  }

  main {
    width: 100%;
    height: 100%;
    padding: 50px;
  }
}

/* mobile l max 425 */
@media only screen and (max-width: 425px) {
  .button-account {
    gap: 2rem;
  }

  .facebook-account span,
  .google-account span {
    display: none;
  }
}
